train_prototxt_template ../prototxt/train/origin/goog_train_val.prototxt
val_prototxt_template ../prototxt/train/origin/goog_val_data.prototxt
solver_prototxt_template ../prototxt/solver/origin/goog_solver.prototxt
pretrained_model ../models/googlenet/googlenet.caffemodel
gaussian_intvl 5
uniform_intvl 5
depth 3
quantization_bits 6
